@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0% { background-position: 0 0; }
    100% { background-position: 1200px 0; }
}

.wave-animation {
    animation: wave 15s linear infinite;
}
